<mat-toolbar color="primary">
  <mat-toolbar-row>

    <img src="./assets/logo-cus-completo.png"  height="117">

    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="''"> Home </a>
      <a mat-button [routerLink]="'/info'"> Info </a>
      <a mat-button [routerLink]="'/contact'"> Contatti </a>
      <a mat-button [routerLink]="'/gym'"> Sala Pesi </a>
      <a style="margin-left: 840px;" mat-button [routerLink]="'/login-user'"> Login </a>
      <a mat-button [routerLink]="'/signup-user'"> Registrati </a>
      <a mat-button [routerLink]="'/login-emp'"> Area Dipendenti </a>

    </div>
  </mat-toolbar-row>


</mat-toolbar>
