
<br>
    <h1 style="text-align: center;">Chi siamo</h1>
    <br>
    <img src="./assets/camp.png" >
    <div class="masterDiv">
      <section>
    <p>Il CUS Camerino è un'associazione sportiva dilettantistica che opera nel settore dello sport dal 1950,
      del quale Arnaldo Bischi è stato il primo presidente. Aderisce al CUSI (Centro Universitario Sportivo Italiano);
      quest'ultimo, a sua volta, è associato alla FISU (Federation Internationale du Sport Universitaire), di cui è membro fondatore,
      ed all'EUSA (European University Sports Association).</p>
    <p>La mission principale del CUS Camerino è quella di diffondere e potenziare l’attività motoria attraverso la promozione
      dello sport di base, dello sport agonistico e dell’attività fisica ludico-sportiva. Le attività sportive promosse si
      rivolgono anche a tutte le componenti non universitarie della cittadinanza, dai bambini agli anziani, dagli agonisti agli
      amatori. Per tutti il CUS Camerino può essere un punto di riferimento e un valido supporto.</p>
    <p>Le strutture del CUS Camerino hanno avuto durante gli anni uno sviluppo tale da rappresentare un centro sportivo di eccellenza
      nell'ambito regionale. Infatti, l'investimento graduale ha portato alla realizzazione di più strutture concentrate nella zona
      periferica di Le Calvie, che è in continuo sviluppo, dove gli impianti universitari si completano con quelli attigui realizzati
      dal Comune.</p>
    <p>Inoltre, offriamo offerte speciali regolari ai nostri clienti fedeli e siamo sempre felici di rispondere alle tue
      domande o richieste di informazioni. Contattaci per ulteriori informazioni.</p>
  </section>
  <div class="image-list">
    <div class="arrow arrow-left">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="arrow arrow-right">
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="image-list-item">
      <img src="./assets/LogoCentroConi_Slim2.png">
    </div>
    <div class="image-list-item">
      <img src="./assets/scrittalogo.png">
    </div>
    <div class="image-list-item">
      <img src="./assets/logo.png">
    </div>

  </div>


