<div class="container">
  <h2>CONTATTI</h2>
  <div class="row">
    <div class="col-md-6">
      <h4>Informazioni di contatto</h4>
      <ul class="list-unstyled">
        <mat-icon>phone</mat-icon><p>0737 630047</p>
        <mat-icon>mail</mat-icon><p>cuscamerino@unicam.it</p>
        <mat-icon> place</mat-icon><p>Loc. Le Calvie, Camerino</p>
        <mat-icon>facebook</mat-icon> <p>Facebook: </p><a href="https://www.facebook.com/CUS.UNICAM.Camerino/?locale=it_IT">https://www.facebook.com/CUS.UNICAM.Camerino/</a>
       <br><br> <mat-icon>supervised_user_circle</mat-icon> <p>Instagram: </p><a href="https://www.instagram.com/cus.camerino/?hl=it">https://www.instagram.com/cus.camerino/</a>
      </ul>
    </div>
  </div>
</div>
