
.container {
  height: 90vh;
}

.row {
  display: flex;
  justify-content: center;
}

.col-md-6 {
  display: flex;
  justify-content: center;
}


.login-title {
  margin-bottom: 20px;
  text-align: center;
}
.centrato {
  color: #000000;
  display: block;
  text-align: center;
}
