<section><img src="./assets/sala.jpg"></section><br>
<div class="container">

<h1 style="text-align: center;">La nostra Sala Pesi</h1>
<p>La struttura gode di un’ampia sala attrezzi di 310 mq tutta climatizzata e con grandi vetrate.
  E’ totalmente pavimentata con pavigym antitrauma professionale.
  Disponiamo della linea isotonica fit evo e freeweight professionali della Panatta made in Italy,
  mentre per le macchine cardio disponiamo della linea totalmente rinnovata technogym.</p>
<p>Presso la nostra palestra è disponibile il servizio di personal training con professionisti del settore qualificati per
  prepararti, seguirti e guidarti durante tutto l’allenamento.</p>
<p>Qualunque sia la tua necessità, recupero post infortunio, ginnastica posturale e correttiva o semplicemente perché hai
   bisogno di essere guidato e motivato, avrai un trainer dedicato che ti permetterà di sfruttare al meglio la tua permanenza
    in palestra.</p><br>
    <h1 style="text-align: center;">Personal Training</h1>
    <p>Grazie ai nostri personal trainer potrai migliorare il tuo stato di forma fisica, imparare a muoverti nel modo giusto e ottenere risultati duraturi attraverso programmi di allenamento personalizzati.
      Quali sono i vantaggi di avere un personal trainer?</p>

      <p><b>MOTIVAZIONE E COSTANZA:</b> infatti riuscirai a mantenere alta la tua motivazione e seguire gli allenamenti con più costanza.</p>

      <p><b>SI DEDICA SOLO A TE:</b>
      avrai al tuo fianco una persona qualificata che ti seguirà per tutto l’allenamento, evitando così di eseguire movimenti sbagliati o non adatti.</p>

      <p><b>AUTOSTIMA:</b> prefissando sempre nuovi obiettivi e vedendo risultati crescerà la tua autostima</p>

      <p><b>RISULTATI GARANTITI:</b> ogni persona è diversa e ha necessità differenti, per questo è utile che ognuno disponga di un piano personalizzato che porti a risultati garantiti.</p>

      <p><b>DOVE VUOI TU:</b> Non riesci o non puoi venire in palestra? Nessun problema, i nostri trainer ti raggiungeranno dove vuoi tu!
       A domicilio, al parco o in qualsiasi altro luogo che ti possa risultare comodo.</p>
       <section><img src="./assets/pt.jpg"></section><br>
</div>
