<div class="masterDiv">
    <div class="introDiv">
        <h2>INFORMAZIONI</h2>
        <div class="col-md-4">
          <h2>Orari di apertura</h2>
          <ul>
            <li>Lunedì - Venerdì: 9:30 - 21:30</li>
            <li>Domenica CHIUSO</li>
            </ul>
        </div>
        <div class="col-md-4">
          <h2>Queste le attività che la nostra sala pesi propone</h2>
          <ul>
              <li>Attività cardiovascolari: tapis roulant, bike, ellittiche</li>
              <li>Attività di pesistica attraverso macchinari isotonici e free weight</li>
              <li>Attività di tonificazione attraverso attività di corpo libero, piccoli attrezzi e macchinari specifici</li>
          </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <h2>Presenza istruttori</h2>
          <p>Dal Lunedì al Venerdì dalle 10:00 alle 13:00 e dalle 15:00 alle 21:30 e  Sabato dalle 10:00 alle 13:00</p>
        </div>
        <div class="col-md-4">
            <h2>Recensioni dei clienti</h2>
            <ul>
              <mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars
              </mat-icon><mat-icon>stars</mat-icon>
              <p>"Palestra bella e accogliente ad un buon prezzo con istruttore molto simpatico." - Fabio</p>
              <mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars
              </mat-icon>
              <p>"Ho tutto ciò di cui ho bisogno per allenarmi ad un buon prezzo con istruttore incluso. - Eleonora</p>
              <mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars
              </mat-icon><mat-icon>stars</mat-icon>
              <p>"E' il top per chi vive a Camerino." - Giuseppe</p>
            </ul>
        </div>
        <div id="map"></div>
    </div>
</div>

